<%= form_for(@operator) do |f| %>
  <% if @operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% @operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table border="-0" id="operator_table">
    <tr>
      <div class="field">
        <td id="label_operator"><%= f.label :first_name %> : <br></td>
        <td> <%= f.text_field :first_name, placeholder: "First Name Here..." , class: "txt_operator"%></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td id="label_operator"><%= f.label :middle_name %> : <br></td>
        <td> <%= f.text_field :middle_name, placeholder: "Middle Name Here..." , class: "txt_operator"%></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td id="label_operator"><%= f.label :last_name %> : <br></td>
        <td> <%= f.text_field :last_name, placeholder: "Last Name Here...", class: "txt_operator"%></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td id="label_operator"><%= f.label :mobile %> : <br></td>
        <td> <%= f.text_field :mobile, placeholder: "Mobile No Here..." , class: "txt_operator"%></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td id="label_operator"><%= f.label :mail %> : <br></td>
        <td> <%= f.text_field :mail, placeholder: "Mail Id Here..." , class: "txt_operator"%></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td id="label_operator"><%= f.label :permanent_address %> : <br></td>
        <td> <%= f.text_field :permanent_address, placeholder: "Permanent Address Here..." , class: "txt_operator"%></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td id="label_operator"><%= f.label :salary %> : <br></td>
        <td> <%= f.text_field :salary, placeholder: "Salary Here..." , class: "txt_operator"%></td>
      </div>
    </tr>

    <tr>
      <div class="actions">
        <td> <%= f.submit %></td>
      </div>
    </tr>
  </table>
<% end %>