<%= form_for(@operator) do |f| %>
  <% if @operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% @operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table border="0">
    <div class="field">
      <tr>
        <td> <%= f.label :first_name %><br></td>
        <td> <%= f.text_field :first_name, placeholder: "Enter First Name..." %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :middle_name %><br></td>
        <td> <%= f.text_field :middle_name, placeholder: "Enter Middle Name..." %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :last_name %><br></td>
        <td> <%= f.text_field :last_name, placeholder: "Enter Last Name...."%></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :mobile %><br></td>
        <td> <%= f.text_field :mobile, placeholder: "Enter Mobile No..." %></td>
      </tr>
    </div>
      <div class="field">
      <tr>
        <td> <%= f.label :mail %><br></td>
        <td> <%= f.text_field :mail, placeholder: "Enter Mail Id..." %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :permanent_address %><br></td>
        <td> <%= f.text_field :permanent_address, placeholder: "Enter Permanent Address..." %></td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :salary %><br></td>
        <td> <%= f.text_field :salary, placeholder: "Enter Salary..." %></td>
      </tr>
    </div>
    <div class="actions">
      <tr align="center">
       <td colspan="2"> <%= f.submit %> </td>
     </tr>
    </div>
  </tabl>
<% end %>