<center>
<%= form_for(@operator) do |f| %>
  <% if @operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% @operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, placeholder: "Your First Name Here..." %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name, placeholder: "Your Middle Name Here..." %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, placeholder: "Your Last Name Here..."%>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile, placeholder: "Your Mobile No Here..." %>
  </div>
    <div class="field">
    <%= f.label :mail %><br>
    <%= f.text_field :mail, placeholder: "Your Mail Id Here..." %>
  </div>
  <div class="field">
    <%= f.label :permanent_address %><br>
    <%= f.text_field :permanent_address, placeholder: "Your Permanent Address Here..." %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary, placeholder: "Your Salary Here..." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>