<%= form_for(@operator) do |f| %>
  <% if @operator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operator.errors.count, "error") %> prohibited this operator from being saved:</h2>

      <ul>
      <% @operator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="operator_table">
    <tr id="operator_table_tr">
      <div class="field">
        <td> <%= f.text_field :first_name, placeholder: "First Name Here..." , class: "txt_operator"%></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :middle_name, placeholder: "Middle Name Here..." , class: "txt_operator"%></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :last_name, placeholder: "Last Name Here...", class: "txt_operator"%></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :mobile, placeholder: "Mobile No Here..." , class: "txt_operator"%></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :mail, placeholder: "Mail Id Here..." , class: "txt_operator"%></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :permanent_address, placeholder: "Permanent Address Here..." , class: "txt_operator"%></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :salary, placeholder: "Salary Here..." , class: "txt_operator"%></td>
      </div>

      <div class="actions">
        <td> <%= f.submit %></td>
        <td> <%= link_to "Back", home_index_path, class: "link_back" %></td>
      </div>
    </tr>
  </table>
<% end %>