<%= form_for(:enter_operator_product, url: create_product_operators_path) do |f| %>
  
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @customer.first_name.capitalize.to_s + " " + @customer.last_name.capitalize.to_s %></h3>

  <%= f.hidden_field :customer_id, value: @customer.id %>
  <%= f.hidden_field :operator_id, value: current_user.operator.id %>
  <table>
    <tr>
      <div class="field">
        <td> <%= f.select :product_name, [["Bajari","bajari"],["Wheat","wheat"],["Pulse","pulse"],["Fad","fad"],["Other","other"]], {include_blank: "Select Gain"} %></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :weight, placeholder: "Enter weight" %></td>
      </div>

      <div class="actions">
        <td> <%= f.submit :save%></td>
        <td> <%= link_to "Back", home_index_path %></td>
      </div>
    </tr>
  </table>  
<% end %>