<%= form_for(@product, url: create_product_operators_path) do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong style="font-size: 20px"><%= @customer.last_name.capitalize + " " + @customer.first_name.capitalize%> Left Rs. <%= @customer.products.where(payment_type: 'borrow').sum(:price).to_f - @customer.payments.sum(:payment_ammount).to_f %>
  </strong><br><br>
  <%= f.hidden_field :customer_id, value: @customer.id %>
  <%= f.hidden_field :operator_id, value: current_user.role.id %>
  <div class="form_group">
    <div class="row">
      <div class="col-sm-1">
        <%= f.select :payment_type, [["Borrow","borrow"],["Cash","cash"]], {}, class: "form-control" %>
      </div>

      <div class="col-sm-1">
        <%= f.select :product_name, [["Bajari","bajari"],["Wheat","wheat"],["Pulse","pulse"],["Fad","fad"],["Other","other"]], {include_blank: '🌾 Product'}, class: "form-control" %>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :weight, placeholder: "Weight", class: "form-control"%>
        </div>
      </div>

      <div class="col-sm-1">
        <%= f.submit :Save, class: "btn btn-primary" %>
      </div>

      <div class="col-sm-1">
        <%= link_to "Back", home_index_path(cust_id: @customer.id), class: "btn btn-info" %>
      </div>
    </div>
  </div>
<% end %><br>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-hover"">
      <strong>Product Entry Details</strong>
      <thead>
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Product name</th>
          <th>Payment</th>
          <th>Weight</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <%sum = 0%>
        <%count = 0%>
        <% if @products.blank? %>
          <tr>
            <td colspan="7">Products are not available for this customer.</td>
          </tr>
        <% else %>
          <% @products.each do |product| %>
            <tr>
              <% count = count + 1%>
              <% sum = sum + product.weight%>
              <td><%= count%></td>
              <td><%= product.created_at.strftime '%d/%B/%Y' %></td>
              <td><%= product.product_name.capitalize %></td>
              <td><%= product.payment_type %></td>
              <td><%= product.weight %></td>
              <td><%= product.price %></td>
            </tr>
          <% end %>
          <tr>
            <th colspan="4">Total</th>
            <th><%= sum %>/kg</th>
            <th>Rs-<%= sum * 3 %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
