<%left_ammount = @products.where(payment_type: 'borrow').sum(:price) - @payments.sum(:payment_ammount) %>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered">
      <strong>Customer Details</strong>
      <tr>
        <tr>
          <th style="color: darkblue">📧 Mail - </th>
          <td style="color: black"><%=@customer.mail %></td>
          <%if left_ammount <= 0 %>
            <td rowspan="2" colspan="4" align="center"><strong style="font-size: 20px"><a style="color: green">Left Rs. <%= left_ammount %></a></strong></td>
          <%elsif left_ammount >= 500 %>
            <td rowspan="2" colspan="4" align="center"><strong style="font-size: 20px"><a style="color: red">Left Rs. <%= left_ammount %></a></strong></td>
          <%else %>
            <td rowspan="2" colspan="4" align="center"><strong style="font-size: 20px"><a style="color: darkorange">Left Rs. <%= left_ammount %></a></strong></td>
          <%end %>
        </tr>

        <tr>
          <th style="color: darkblue">First Name - </th>
          <td style="color: black"><%=@customer.first_name.capitalize %></td>
        </tr>

        <tr>
          <th style="color: darkblue">Middle Name - </th>
          <td style="color: black"><%=@customer.middle_name.capitalize %></td>
          <th style="color: darkblue">📞 Mobile - </th>
          <td style="color: black"><%=@customer.mobile_num %></td>
          <th style="color: darkblue">👪 Family Members</th>
          <td style="color: black"><%=@customer.family_members %></td>
        </tr>

        <tr>
          <th style="color: darkblue">Last Name - </th>
          <td style="color: black"><%=@customer.last_name.capitalize %></td>
          <th style="color: darkblue">🏠 Address - </th>
          <td style="color: black" colspan="3"><%=@customer.address.capitalize %></td>
        </tr>
      </tr>
    </table>
    <table class="table table-bordered table-hover">
      <thead style="background-color: gold">
        <strong>Cash & Borrow Count</strong>
        <tr>
          <th colspan="3">Cash</th>
          <th colspan="3">Borrow</th>
          <th colspan="3">Total</th>
          <th>Payment</th>
          <th>Left</th>
        </tr>
      </thead>

      <tbody>
        <%if left_ammount <= 0 %>
          <tr class="success">
        <%elsif left_ammount >= 500 %>
          <tr class="danger">
        <%else%>
          <tr class="warning">
        <% end%>
          <td><%= cash = @products.where(payment_type: 'cash').count %></td>
          <td><%= @products.where(payment_type: 'cash').sum(:weight).to_f %> /kg</td>
          <td>Rs. <%= @products.where(payment_type: 'cash').sum(:price).to_f %></td>
          <td><%= borrow = @products.where(payment_type: 'borrow').count %></td>
          <td><%= @products.where(payment_type: 'borrow').sum(:weight).to_f %> /kg</td>
          <td>Rs. <%= @products.where(payment_type: 'borrow').sum(:price).to_f %></td>
          <td><%= cash + borrow %></td>
          <td><%= @products.sum(:weight) %> /kg</td>
          <td>Rs. <%= @products.sum(:price) %></td>
          <td>Rs. <%= @payments.sum(:payment_ammount) %></td>
          <td>Rs. <%= @products.where(payment_type: 'borrow').sum(:price) - @payments.sum(:payment_ammount) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead style="background-color: gold">
        <strong>Products Count</strong>
        <tr>
          <th>Products</th>
          <th>No.of Times</th>
          <th>Weight</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <% array_uniq = Product.select(:product_name).distinct %>
          <% array_uniq.each do |product|%>
            <td><%= product.product_name.capitalize%></td>
            <td><%= @products.where(product_name: product.product_name).count%></td>
            <td><%= @products.where(product_name: product.product_name).sum(:weight)%></td>
            <td><%= @products.where(product_name: product.product_name).sum(:price)%></td>
        </tr>
        <% end -%>
        <tr style="background-color: gold">
          <th colspan="2">Total<%@products.sum(:weight).to_f%></th>
          <th><%= @products.sum(:weight).to_f%>/kg</th>
          <th>Rs. <%= @products.sum(:price).to_f%></th>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-hover" >
      <thead style="background-color: gold">
        <strong>Products Entry Details</strong>
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Operator</th>
          <th>Product name</th>
          <th>Payment</th>
          <th>Weight</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <%sum = 0%>
        <%count = 0%>
        <% @products.each do |product| %>
          <tr>

            <%count = count + 1%>
            <%sum = sum + product.weight%>
            <td><%= count %></td>
            <td><%= product.created_at.strftime '%d/%B/%Y' %></td>
            <td><%= product.operator.first_name.capitalize %></td>
            <td><%= product.product_name.capitalize %></td>
            <td><%= product.payment_type %></td>
            <td><%= product.weight %></td>
            <td><%= product.price %></td>
          </tr>
        <% end %>
        <tr style="background-color: gold">
          <th colspan="4">Total</th>
          <th>Product = <%= @products.count %></th>
          <th><%= sum %>/kg</th>
          <th>Rs. <%= sum * 3 %></th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead style="background-color: gold">
        <strong>Payment Details</strong>
        <tr>
          <th>Date</th>
          <th>Receiver</th>
          <th>Giver</th>
          <th>Previous Amt.</th>
          <th>Payment Rs.</th>
          <th>Left Rs.</th>
        </tr>
      </thead>

      <tbody>
        <%@payments.each do |payment| %>
        <%if payment.payment_ammount < 0 %>
          <tr style="color: red" class="warning">
        <% else -%>
          <tr>
        <% end -%>
          <td><%= payment.created_at.strftime("%d/%b/%Y") %></td>
          <td><%= payment.receiver.capitalize %></td>
          <td><%= payment.giver.capitalize %></td>
          <td><%= payment.previous_ammount %></td>
          <td><%= payment.payment_ammount %></td>
          <td><%= payment.left_ammount %></td>
        </tr>
      <% end %>
        <tr style="background-color: gold">
          <th>Total</th>
          <th colspan="3">Transaction's = <%= @payments.count%></th>
          <th colspan="2"><%= @payments.sum(:payment_ammount)%></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
