<div class="col-sm-6">
  <table class="table table-bordered table-responsive table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>F.M</th>
        <th>Left Amt</th>
        <th colspan="1"><%= link_to 'New Customer', new_customer_path, class: "btn btn-xs btn-info" %></th>
      </tr>
    </thead>

    <tbody>
      <% count = 0%>
      <% left_ammount = 0%>
      <% @customers.each do |customer| %>
        <% count = count + 1%>
        <%left_ammount = customer.products.where(payment_type: 'borrow').sum(:price) - customer.payments.sum(:payment_ammount) %>
        <%if left_ammount < 0 %>
          <tr colspan="5" class="info">
        <% elsif left_ammount >= 500 %>
          <tr class="danger">
        <% end%>
          <td><%= count %></td>
          <td><%= customer.last_name.capitalize + " " + customer.first_name.capitalize %></td>
          <td><%= customer.mobile_num %></td>
          <td><%= customer.address %></td>
          <td><%= customer.family_members %></td>
          <td><strong>Rs. <%=left_ammount%></strong></td>
          <td>
            <%= link_to '', new_product_path(cust_id: customer.id), class:"btn btn-xs btn-info glyphicon glyphicon-plus" %>
            <%= link_to '', edit_customer_path(customer), class:"btn btn-xs btn-success glyphicon glyphicon-edit" %>
            <%= link_to '', new_payment_path(cust_id: customer.id), class:"btn btn-xs btn-warning glyphicon glyphicon-euro" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-sm-6">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Address</th>
        <th colspan="3"><%= link_to 'New Operator', new_operator_path, class: "btn btn-xs btn-info" %></th>
      </tr>
    </thead>

    <tbody>
      <% @operators.each do |operator| %>
        <tr>
          <td><%= operator.last_name.capitalize + " " + operator.first_name.capitalize %></td>
          <td><%= operator.mobile %></td>
          <td><%= operator.permanent_address.capitalize %></td>
          <td>
            <%= link_to '', record_operators_path(operator_id: operator.id), class:"btn btn-info btn-xs glyphicon glyphicon-th-list" %>
            <%= link_to '', edit_operator_path(operator), class:"btn btn-xs btn-success glyphicon glyphicon-edit" %>
            <%= link_to '', new_payment_path(operator_id: operator.id), class:"btn btn-xs btn-warning glyphicon glyphicon-euro" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
