<center><h2><%= current_user.customer.first_name.capitalize + " " + current_user.customer.last_name.capitalize + " " +current_user.customer.address.capitalize+ " " + current_user.customer.mobile_num %><br>
Details</h2></center>
<div class="row">
  <div class="col-sm-6"><br>
    <table class="table table-bordered table-hover" >
      <thead>
        <tr>
          <th>Date</th>
          <th>Operator</th>
          <th>Product name</th>
          <th>Price</th>
          <th>Weight</th>
        </tr>
      </thead>

      <tbody>
        <%sum = 0%>
        <% @products.each do |product| %>
          <tr>
            <%sum = sum + product.weight%>
            <td><%= product.created_at.strftime '%d/%B/%Y' %></td>
            <td><%= product.operator.first_name.capitalize %></td>
            <td><%= product.product_name.capitalize %></td>
            <td><%= product.price %></td>
            <td><%= product.weight %></td>
          </tr>
        <% end %>
        <th colspan="2">Total</th>
        <th>Product = <%= @products.count %></th>
        <th>Rs-<%= sum * 3 %></th>
        <th><%= sum %>/kg</th>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6"><br>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th colspan="2">Cash</th>
          <th colspan="2">Borrow</th>
          <th colspan="2">Total</th>
        </tr>
      </thead>

      <tbody>
        <%total = 0%>
        <tr>
          <td>Quntity- <%= cash = @products.where(payment_type: 'Cash').count %></td>
          <td>Rs- <%= @products.where(payment_type: 'Cash').sum(:price).to_f %></td>
          <td>Quntity- <%= borrow = @products.where(payment_type: 'Borrow').count %></td>
          <td>Rs- <%= @products.where(payment_type: 'Borrow').sum(:price).to_f %></td>
          <td>Quntity- <%= cash + borrow %></td>
          <td>Rs- <%= @products.sum(:price) %></td>
        </tr>
      </tbody>
    </table>
  </div><br><br>

  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Payment In Rs.</th>
          <th>Receiver</th>
          <th>Giver</th>
          <th>Link</th>
        </tr>
      </thead>

      <tbody>
        <%@current_user.customer.payments.each do |payment| %>
          <tr>
            <td><%= payment.created_at.strftime("%d/%b/%Y") %></td>
            <td><%= payment.payment_ammount %></td>
            <td><%= payment.receiver.capitalize %></td>
            <td><%= payment.giver.capitalize %></td>
            <td><%= link_to '', edit_payment_path(payment, cust_id: payment.customer.id), class:"btn btn-xs btn-success glyphicon glyphicon-edit" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>