
<strong style="font-size: 25px">Operator <%= current_user.operator.last_name.capitalize + " " + current_user.operator.first_name.capitalize%> login</strong>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Date</th>
      <th>Name</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>F.Members</th>
      <th>Mail</th>
      <th colspan="1"><%= link_to 'New Customer', new_customer_path, class: "btn btn-xs btn-info" %></th>
    </tr>
  </thead>

  <tbody>
    <%count = 0%>
    <% @customers.each do |customer| %>
    <%count = count + 1%>
      <tr>
        <td><%= count%></td>
        <td><%= customer.created_at.strftime '%d/%B/%Y' %></td>
        <td><%= customer.last_name.capitalize+ " " +customer.first_name.capitalize+ " " +customer.middle_name.capitalize %></td>
        <td><%= customer.address.capitalize %></td>
        <td><%= customer.mobile_num %></td>
        <td><%= customer.family_members %></td>
        <td><%= customer.mail %></td>
        <td><%= link_to '', enter_operator_product_operators_path(cust_id: customer.id), class:"btn btn-xs btn-info glyphicon glyphicon-plus" %>
      </tr>
    <% end %>
  </tbody>
</table>