<%= form_for @customer, :validate => true do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :middle_name, placeholder: "Middle Name", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-group-sm">
          <%= f.text_field :mail, placeholder: "ðŸ“§ Email", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :mobile_num, placeholder: "ðŸ“ž Mobile No", class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group-sm">
          <%= f.text_field :address, placeholder: "ðŸ  Address", class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.number_field :family_members, in: 1..100, placeholder: "ðŸ‘ª Family Member", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.submit class: "btn btn-sm btn-primary" %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= link_to "Back", home_index_path, class: "btn btn-info btn-sm"%>
        </div>
      </div>
    </div>
  </div>
<% end %>