<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :middle_name, placeholder: "Middle Name", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :mobile_num, placeholder: "Mobile No", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-group-sm">
          <%= f.text_field :mail, placeholder: "Email", class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-8">
        <div class="input-group-sm">
          <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="input-group-sm">
          <%= f.submit class: "btn btn-sm btn-primary" %>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="input-group-sm">
          <%= link_to "Back", home_index_path, class: "btn btn-info btn-sm"%>
        </div>
      </div>
    </div>
  </div>
<% end %>