<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table border="-0" id="customer_table">
  <h1>New Customer</h1>
    <tr>
      <div class="field">
        <td><%= f.label :first_name %> : <br></td>
        <td><%= f.text_field :first_name, placeholder: "Your First Name Here...", class: "txt_customer" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :middle_name %> : <br></td>
        <td><%= f.text_field :middle_name, placeholder: "Your Middle Name Here...", class: "txt_customer" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :last_name %> : <br></td>
        <td><%= f.text_field :last_name, placeholder: "Your Last Name Here...", class: "txt_customer" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :address %> : <br></td>
        <td><%= f.text_field :address, placeholder: "Your Address Here...", class: "txt_customer" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :mobile_num %> : <br></td>
        <td><%= f.text_field :mobile_num, placeholder: "Your Mobile No Here...", class: "txt_customer" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :mail %> : <br></td>
        <td><%= f.text_field :mail, placeholder: "Your Mail Id Here...", class: "txt_customer" %></td>
      </div>
    </tr>
    <tr>
      <div class="actions">
        <td><%= f.submit %></td>
      </div>
  </tr>
  </table>
<% end %>