<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <div class="field">
      <tr>
        <td> <%= f.label :first_name %> </td>
        <td>: <%= f.text_field :first_name, placeholder: "  Enter First Name..." %> </td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :middle_name %> </td>
        <td>: <%= f.text_field :middle_name, placeholder: "  Enter Middle Name..." %> </td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :last_name %> </td>
        <td>: <%= f.text_field :last_name, placeholder: "  Enter Last Name..." %> </td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :address %> </td>
        <td>: <%= f.text_field :address, placeholder: "  Enter Address..." %> </td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :mobile_num %> </td>
        <td>: <%= f.text_field :mobile_num, placeholder: "  Enter Mobile No..." %> </td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td> <%= f.label :mail %> </td>
        <td>: <%= f.text_field :mail, placeholder: "  Enter Mail Id..." %> </td>
      </tr>
    </div>
    <div class="actions">
      <tr align="center">
        <td colspan="2"> <%= f.submit %> </td>
      </tr>
    </div>
  </table>
<% end %>