<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <div class="field">
        <td><%= f.text_field :first_name, placeholder: "Enter First Name Here..." %></td>
      </div>

      <div class="field">
        <td><%= f.text_field :middle_name, placeholder: "Enter Middle Name Here..." %></td>
      </div>

      <div class="field">
        <td><%= f.text_field :last_name, placeholder: "Enter Last Name Here..." %></td>
      </div>

      <div class="field">
        <td><%= f.text_field :address, placeholder: "Enter Address Here..." %></td>
      </div>

      <div class="field">
        <td><%= f.text_field :mobile_num, placeholder: "Enter Mobile No Here..." %></td>
      </div>

      <div class="field">
        <td><%= f.text_field :mail, placeholder: "Enter Mail Id Here..." %></td>
      </div>

      <div class="actions">
        <td><%= f.submit %></td>
        <td> <%= link_to "Back", home_index_path %></td>
      </div>
    </tr>
  </table>
<% end %>