<%= render 'form' %>
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Address</th>
      <th>Email</th>
      <th>Total Amt</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name.capitalize + " " + customer.last_name.capitalize %></td>
        <td><%= customer.mobile_num %></td>
        <td><%= customer.address.capitalize %></td>
        <td><%= customer.mail %></td>
        <td>Rs. <%= customer.products.sum(:price).to_f %></td>
        <td><%= link_to '', new_product_path(cust_id: customer.id), class:"btn btn-xs btn-info glyphicon glyphicon-plus" %></td>
        <td><%= link_to '', edit_customer_path(customer), class:"btn btn-xs btn-success glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', new_payment_path(cust_id: customer.id), class:"btn btn-xs btn-warning glyphicon glyphicon-euro" %></td>
      </tr>
    <% end %>
  </tbody>
</table>