<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table border="1">
  <thead>
    <tr>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Mail</th>
      <th colspan="4">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.middle_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.mobile_num %></td>
        <td><%= customer.mail %></td>
        <td><%= link_to 'Product', new_product_path(cust_id: customer.id) %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Customer', new_customer_path %><br>
<%= link_to 'Home', home_index_path %>