<div class="form" >
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, placeholder: "Username" %></br></br>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %></br></br>

    <% if devise_mapping.rememberable? -%>
      Remember me <br>
      <%= f.check_box :remember_me %></br></br>
    <% end -%>
    <%= f.submit "Log in" %>
  <% end %>
</div>
