<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
     <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <strong style="font-size: 20px"><%= @customer.first_name.capitalize + " " + @customer.last_name.capitalize%> Left Rs.<%= @customer.products.where(payment_type: 'borrow').sum(:price).to_f - @customer.payments.sum(:payment_ammount).to_f %>
  </strong><br><br>
  <%= f.hidden_field :customer_id, value:@customer.id %>
  <div class="row">
    <div class="col-sm-1">
      <div class="input-group-sm">
        <%= f.text_field :payment_ammount, placeholder: "Amount", class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="input-group-sm">
        <%= f.text_field :receiver, placeholder: "Receiver", class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group-sm">
        <%= f.text_field :giver, placeholder: "Giver", class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="input-group-sm"><%= f.submit :Save, class: "btn btn-primary" %></div>
    </div>

    <div class="col-sm-1">
      <div class="input-group-sm"><%= link_to "Back", home_index_path, class: "btn btn-info" %></div>
    </div>
  </div>
<% end %><br>


<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Previous</th>
          <th>Payment In Rs.</th>
          <th>Left Rs.</th>
          <th>Receiver</th>
          <th>Giver</th>
          <th>Link</th>
        </tr>
      </thead>

      <tbody>
        <% if @payments.nil? %>

        <% else %>
          <%@payments.each do |payment| %>
            <tr>
              <td><%= payment.created_at.strftime("%d/%b/%Y") %></td>
              <td><%= payment.previous_ammount %></td>
              <td><%= payment.payment_ammount %></td>
              <td><%= payment.left_ammount %></td>
              <td><%= payment.receiver.capitalize %></td>
              <td><%= payment.giver.capitalize %></td>
              <td><%= link_to '', edit_product_path(payment, cust_id: payment.customer.id), class:"btn btn-xs btn-success glyphicon glyphicon-edit" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>