<%= form_for(@payment) do |f| %>
  <strong style="font-size: 20px"><%= @customer.first_name.capitalize + " " + @customer.last_name.capitalize%>
    <%left_amt = @customer.products.where(payment_type: 'borrow').sum(:price).to_f - @customer.payments.sum(:payment_ammount).to_f %>
    <%if left_amt <= 0 %>
      <div class="green_amt">Left Rs. <%= left_amt %></div><br><br>
    <%elsif left_amt >= 500 %>
      <div class="red_amt">Left Rs. <%= left_amt %></div><br><br>
    <%else%>
      <div class="orange_amt">Left Rs. <%= left_amt %></div><br><br>
    <%end%>
  </strong><br><br>
  <%= f.hidden_field :customer_id, value:@customer.id %>
  <div class="row">
    <div class="col-sm-1">
      <div class="input-group-sm">
        <%= f.text_field :payment_ammount, in: 1..100, placeholder: "💵 Amount", class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="input-group-sm">
        <%= f.text_field :receiver, placeholder: "Receiver", class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group-sm">
        <%= f.text_field :giver, placeholder: "Giver", class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="input-group-sm"><%= f.submit :Save, class: "btn btn-primary" %></div>
    </div>

    <div class="col-sm-1">
      <div class="input-group-sm"><%= link_to "Back", home_index_path, class: "btn btn-info" %></div>
    </div>
  </div>
<% end %><br>


<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead>
        <strong>Payments Details</strong>
        <tr>
          <th>Date</th>
          <th>Previous</th>
          <th>Payment Rs.</th>
          <th>Left Rs.</th>
          <th>Receiver</th>
          <th>Giver</th>
        </tr>
      </thead>

      <tbody>
        <% if @payments.nil? %>

        <% else %>
          <%@payments.each do |payment| %>
            <tr>
              <td><%= payment.created_at.strftime("%d/%b/%Y") %></td>
              <td><%= payment.previous_ammount %></td>
              <td><%= payment.payment_ammount %></td>
              <td><%= payment.left_ammount %></td>
              <td><%= payment.receiver.capitalize %></td>
              <td><%= payment.giver.capitalize %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>