<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @payment.customer_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @payment.payment %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
