<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-firestore.js"></script>
<%= form_for @item, :validate => true do |f| %>

  <div class="form_group">
    <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-4">
        <%= f.text_field :item_name, placeholder: "Item Name", class: "form-control" %>
      </div>
      <div class="col-sm-2">
          <%= f.number_field :rate, placeholder: "Rate Rs.", class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <%= f.submit :save, class: "btn btn-primary"%>
      </div>
      <div class="col-sm-1">
        <%= link_to "Back", home_index_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
  </div>
<% end %><br>

<div class="col-sm-6">
  <table class="table table-bordered scrollable table-responsive table-hover">
    <thead>
      <strong>Items Rate Details</strong>
      <tr>
        <th>No</th>
        <th>Update Rate</th>
        <th>Item name</th>
        <th>Rate Rs.</th>
        <th colspan="3">Link</th>
      </tr>
    </thead>

    <tbody>
      <%count = 1%>
      <% @items.each do |item| %>
        <tr>
          <td><%= count%></td>
          <td><%= item.updated_at .strftime("%d/%b/%Y")%></td>
          <td><%= item.item_name.capitalize %></td>
          <td>Rs. <%= item.rate %> per Kg</td>
          <td><%= link_to '', edit_item_path(item), class:"btn btn-xs btn-success glyphicon glyphicon-edit"  %></td>
        </tr>
        <%count += 1%>
      <% end %>
      <tr>
        <th colspan="6">Total Item's <%=Item.count%></th>
      </tr>
    </tbody>
  </table>
</div>

<h1>Product</h1>
<center>
  <a href="file:///home/ak/workspace/firebase/firebase-sample-mill/index.html"><button>Back</button></a>
</center>
<div class="content">
  <form id="add-product-form">
    <input type="text" name="name" placeholder="Product Name">
    <input type="text" name="price" placeholder="Product Price">
    <button>Add Product</button>
  </form>

  <ul id="product-list"></ul>

</div>

<script>

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyAdxlrM6waGGV-jPUGySm7RhSzgqvHCF-M",
    authDomain: "sample-mill.firebaseapp.com",
    projectId: "sample-mill",
    storageBucket: "sample-mill.appspot.com",
    messagingSenderId: "318110430135",
    appId: "1:318110430135:web:e0b37dcad496f5b8166e32",
    measurementId: "G-8P2T21GGJS"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

  const db = firebase.firestore();
  db.settings({ timestampsInSnapshots: true });

  const productList = document.querySelector('#product-list');
  const form = document.querySelector('#add-product-form');
  // create element & render cafe
  function renderUser(doc){
    let li = document.createElement('li');
    let name = document.createElement('span');
    let price = document.createElement('span');
    let cross = document.createElement('div');

    li.setAttribute('data-id', doc.id);
    name.textContent = doc.data().name;
    price.textContent = doc.data().price;
    cross.textContent = 'x';

    li.appendChild(name);
    li.appendChild(price);
    li.appendChild(cross);

    productList.appendChild(li);

    cross.addEventListener('click', (e) => {
      e.stopPropagation
      let id = e.target.parentElement.getAttribute('data-id');
      db.collection('products').doc(id).delete();
    })
  }

  // getting data
  // db.collection('users').where('last_name', '==', 'kadam').get().then(snapshot => {
  db.collection('products').get().then(snapshot => {
    snapshot.docs.forEach(doc => {
      renderUser(doc);
      console.log(doc.data())
    });
  });

  // saving data
  form.addEventListener('submit', (e) => {
    e.preventDefault();
    db.collection('products').add({
      name: form.name.value,
      price: form.price.value,
    });
    form.name.value = '';
    form.price.value = '';
  });
</script>