<%= form_for :edit_exp, url: update_exp_expense_path, method: :patch do |f|%>
  <%= f.hidden_field :id, value:@exp.id %>
  <h1>Edit Expenses</h1>
  <table>
    <tr>
      <div class="field">
        <td> <%= f.text_field :expense_type, value:@exp.expence_type %></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :expense, value:@exp.expence %></td>
      </div>

      <div class="field">
        <td> <%= f.submit "Submit" %></td>
        <td> <%= link_to "Back", expenses_index_path %></td>
      </div><br><br>
    </tr>
  </table>
<% end -%>