
<%= form_for(:expenditure, url: create_expense_expenses_path) do |f|%>
  <table border="0">
    <tr>
      <div class="field">
        <td> <%= f.label :expense_type, "Expenditure Type :" %><br></td>
        <td> <%= f.text_field :expense_type, placeholder: "Enter Expense Type..." %></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td> <%= f.label :expense, "Expenditure :" %><br></td>
        <td> <%= f.text_field :expense, placeholder: "Enter Amount..." %></td>
      </div>
    </tr>

    <tr>
      <div class="field">
        <td> <%= f.submit "Submit" %></td>
        <td> <%= link_to "Back", home_index_path, class: "link_back" %></td>
      </div><br><br>
    </tr>
  </table>
<% end -%>

<table border="1">
  <tr>
    <th>Date</th>
    <th>Expense_type</th>
    <th>Expense</th>
    <th colspan="2">Link</th>
  </tr>
  <% @exp.each do |exp|%>
  <tr>
    <td><%= exp.created_at %></td>
    <td><%= exp.expence_type %></td>
    <td><%= exp.expence %></td>
    <td><%= link_to "Edit", edit_exp_expense_path(id: exp.id) %></td>
    <td><%= link_to "Delete", destroy_exp_expense_path(id: exp.id) %></td>
  </tr>
  <% end -%>
</table>