<%= form_for(:expenditure, url: create_expense_expenses_path) do |f|%>
  <h1>Expenses</h1>

  <% if @exp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exp.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @exp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="expense_table">
    <tr id="expense_table_tr">
      <div class="field">
        <td> <%= f.text_field :expense_type, placeholder: "Enter Expense Type...", class: "txt_expense" %></td>
      </div>

      <div class="field">
        <td> <%= f.text_field :expense, placeholder: "Enter Amount...", class: "txt_expense" %></td>
      </div>

      <div class="field">
        <td> <%= f.submit "Submit" %></td>
        <td> <%= link_to "Back", home_index_path, class: "link_back" %></td>
      </div><br><br>
    </tr>
  </table>
<% end -%>

<table border="0">
  <tr>
    <th>Date</th>
    <th>Expense_type</th>
    <th>Expense</th>
    <th colspan="2">Link</th>
  </tr>
  <% sum = 0 %>
  <% @expenses.each do |exp|%>
  <tr>
    <% sum = sum + exp.expence%>
    <td><%= exp.created_at.strftime("%d/%b/%Y") %></td>
    <td><%= exp.expence_type %></td>
    <td><%= exp.expence %></td>
    <td><%= link_to "Edit", edit_exp_expense_path(id: exp.id), class: "link_edit" %></td>
    <td><%= link_to "Delete", destroy_exp_expense_path(id: exp.id), class: "link_delete" %></td>
  </tr>
  <% end -%>
  <th>Total
    <th><%= @expenses.count %></th>
    <th>Rs-<%= sum %></th>
  </th>
</table>