<%= form_for(:expenditure, url: create_expense_expenses_path) do |f|%>
  <% if @exp.errors.any? %>
    <div class="alert alert-danger fade-in ">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <ul>
      <% @exp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_group">
    <div class="row">
      <div class="col-sm-2">
        <div class="input-group-sm">
          <%= f.text_field :expense_type, placeholder: "Expense Type", class: "form-control" %>
        </div>
      </div>
    
      <div class="col-sm-1">
        <div class="input-group-sm">
          <%= f.text_field :expense, placeholder: "ðŸ’µ Amount", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="input-group-sm">
          <%= f.number_field :quantity, in: 1..1000, placeholder: "Quantity", class: "form-control" %>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="input-group-sm">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>

      <div class="col-sm-1">
        <div class="input-group-sm">
          <%= link_to "Back", home_index_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div><br>
  <div class="row">
    <div class="col-sm-6">
        <%= f.text_area :description, placeholder: "ðŸ“ Write description ", class: "form-control" %>
    </div>
  </div>
<% end -%><br>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead>
        <strong>Expenses Details</strong>
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Expense_type</th>
          <th>Expense</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Description</th>
        </tr>
        <% sum = 0 %>
        <% count = 0 %>
        <% @expenses.each do |exp|%>
          <tr>
            <% sum = sum + exp.expence%>
            <% count = count + 1%>
            <td><%= count %></td>
            <td><%= exp.created_at.strftime("%d/%b/%Y") %></td>
            <td><%= exp.expence_type.capitalize %></td>
            <td><%= exp.expence %></td>
            <td><%= exp.quantity %></td>
            <td><%= exp.expence * exp.quantity.to_f %></td>
            <td><%= exp.description %></td>
          </tr>
        <% end -%>
        <th colspan="2">Total
          <th colspan="3">Expenses = <%= @expenses.count %></th>
          <th>Rs. <%= sum %></th>
        </th>
      </thead>
    </table>
  </div>
</div>