<%= form_for @product, :validate => true  do |f| %>
  <%= f.hidden_field :customer_id, value: @cust.id %>
  <strong>
    <%= @cust.last_name.capitalize + " " + @cust.first_name.capitalize + " " + @cust.middle_name.capitalize%>
  </strong><br><br>
  <div class="row">
    <div class="col-sm-2">
      <%= f.select :payment_type, [["Cash","cash"],["Borrow","borrow"]], {}, class: "form-control" %>
    </div>

    <div class="col-sm-2">
      <%= f.select :product_name, [["Bajari","bajari"],["Wheat","wheat"],["Pulse","pulse"],["Gram Dal","gram dal"],["Rise", "rise"],["Jowar", "jowar"],["Other","other"]], {include_blank: '🌾 Product'}, class: "form-control" %>
    </div>

    <div class="col-sm-2">
      <div class="input-group-sm">
        <%= f.text_field :weight, id:"weight", oninput: "setPrice()", placeholder: "Weight", class: "form-control"%>
      </div>
    </div>

    <div class="col-sm-1">
      <div class="input-group-sm">
        <p style="font-weight: bold;" id="price">Rs. 00</p>
      </div>
    </div>

    <% if current_user.role.name =="Operator" %>
      <% f.hidden_field :operator_id, value: current_user.role.id, class: "form-control" %>
    <% else%>
      <div class="col-sm-2">
        <%= f.select :operator_id, Operator.all.collect {|a| [a.first_name, a.id]}, {}, class: "form-control" %>
      </div>
    <% end%>
    <div class="col-sm-1">
      <%= f.submit :Save, class: "btn btn-primary" %>
    </div>
    <div class="col-sm-1">
      <%= link_to "Back", home_index_path, class: "btn btn-info" %>
    </div>

  </div>
<% end %>
