<%= form_for @product, :validate => true  do |f| %>
  <%= f.hidden_field :customer_id, value: @cust.id %>
  <strong>
    <%= @cust.last_name.capitalize + " " + @cust.first_name.capitalize + " " + @cust.middle_name.capitalize%>
  </strong><br><br>
  <div class="row">

    <div class="col-sm-2">
      <%= f.select :product_name, Item.all.collect {|a| [a.item_name.capitalize, a.id]}, {}, onchange: "showRate()", class: "form-control" %>
    </div>

    <div class="col-sm-1">
      <div class="input-group-sm">
        <%=text_field_tag :rate, value= Item.first.rate%>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group-sm">
        <%= f.text_field :weight, id:"weight", oninput: "setPrice()", placeholder: "Weight in Kg", class: "form-control"%>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group-sm">
        <%= f.label :price, id:"price"%>
      </div>
    </div>

    <div class="col-sm-2">
      <%= f.text_field :payment_type, id: "payment_type", placeholder: "Ammount", class: "form-control" %>
    </div>

    <% if current_user.role.name =="Operator" %>
      <% f.hidden_field :operator_id, value: current_user.role.id, class: "form-control" %>
    <% else%>
      <div class="col-sm-2">
        <%= f.select :operator_id, Operator.all.collect {|a| [a.first_name, a.id]}, {}, class: "form-control" %>
      </div>
    <% end%>
    <div class="col-sm-1">
      <%= f.submit :Save, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
