<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :customer_id, value: @cust.id %>
  <%= f.select :product_name, [["Bajari","bajari"],["Wheat","wheat"],["Pulse","pulse"],["Fad","fad"],["Other","other"]], {include_blank: "Select Grain"}, class: "dropdown" %>
  <%= f.text_field :weight, placeholder: "Weight", class: "input_field_weight" %>
  <%= f.select :operator_id, Operator.all.collect {|a| [a.first_name + " " + a.last_name, a.id]},{include_blank: "Select Operator" }, class: "dropdown" %>
  <%= f.submit :Save %>
  <%= link_to "Back", home_index_path, class: "link_back" %>
<% end %>

<table border="1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Operator</th>
      <th>Product name</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <%sum = 0%>
    <% @products.each do |product| %>
      <tr>
        <% sum = sum + product.weight%>
        <td><%= product.created_at %></td>
        <td><%= product.operator.first_name%></td>
        <td><%= product.product_name %></td>
        <td><%= product.price %></td>
        <td><%= product.weight %></td>
        <td><%= link_to 'Edit', edit_products_path(id: product.id, customer_id: product.customer.id), class: "link_edit" %></td>
      </tr>
    <% end %>
    <th colspan="2">Total</th>
    <th><%= @products.count %></th>
    <th>Rs-<%= sum * 3 %></th>
    <th><%= sum %>/kg</th>
  </tbody>
</table>