<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :customer_id, value: @cust.id %>
  <strong>
    <%= @cust.last_name.capitalize + " " + @cust.first_name.capitalize%>
  </strong><br><br>
  <div class="row">
    <div class="col-sm-2">
      <%= f.select :payment_type, [["Borrow","borrow"],["Cash","cash"]], {}, class: "form-control" %>
    </div>

    <div class="col-sm-3">
      <%= f.select :product_name, [["Bajari","bajari"],["Wheat","wheat"],["Pulse","pulse"],["Gram Dal","gram dal"],["Rise", "rise"],["Jowar", "jowar"],["Other","other"]], {include_blank: '🌾 Product'}, class: "form-control" %>
    </div>

    <div class="col-sm-2">
      <div class="input-group-sm">
        <%= f.text_field :weight, placeholder: "Weight", class: "form-control"%>
      </div>
    </div>
    <% if current_user.role.name =="Operator" %>
      <% f.hidden_field :operator_id, value: current_user.role.id, class: "form-control" %>
    <% else%>
      <div class="col-sm-2">
        <%= f.select :operator_id, Operator.all.collect {|a| [a.first_name, a.id]}, {}, class: "form-control" %>
      </div>
    <% end%>
    <div class="col-sm-1">
      <%= f.submit :Save, class: "btn btn-primary" %>
    </div>
    <div class="col-sm-1">
      <%= link_to "Back", home_index_path, class: "btn btn-info" %>
    </div>

  </div>
<% end %>
