<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
     <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%if @products.nil? %>
<%else%>
  <%left_amt = @cust.products.sum(:price).to_f - @cust.products.sum(:payment_type).to_f - @cust.payments.sum(:payment_ammount).to_f %>
  <%if left_amt <= 0 %>
    <div class="green_amt">Left Rs. <%= left_amt %></div><br>
  <%elsif left_amt >=100 %>
    <div class="red_amt">Left Rs. <%= left_amt %></div><br>
  <%else%>
    <div class="orange_amt">Left Rs. <%= left_amt %></div><br>
  <%end%>
<%end%>

  <%= f.hidden_field :customer_id, value:@cust.id %>
  <div class="row">
    <div class="col-sm-2">
      <div class="input-group-sm">
        <%= f.text_field :payment_ammount, placeholder: "💵 Amount", class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-2">
      <%= f.select :receiver, Operator.all.collect {|a| [a.first_name, a.first_name]}, {include_blank: 'Receiver'}, class: "form-control" %>
    </div>
    <div class="col-sm-3">
      <div class="input-group-sm">
        <%= f.text_field :giver, placeholder: "Giver", class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group-sm"><%= f.submit :Save, class: "btn btn-primary" %></div>
    </div>

    <div class="col-sm-1">
      <div class="input-group-sm"><%= link_to "Back", home_index_path, class: "btn btn-info" %></div>
    </div>
  </div>
<% end %>
