<table class="table table-bordered table-hover">
  <thead>
    <strong>Payments Details</strong>
    <tr>
      <th>Date</th>
      <th>Previous</th>
      <th>Payment In Rs.</th>
      <th>Left Rs.</th>
      <th>Receiver</th>
      <th>Giver</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <%if @payments.nil? %>
    <%else%>
      <%@payments.each do |payment| %>
        <tr>
          <td><%= payment.created_at.strftime("%d/%b/%Y") %></td>
          <td><%= payment.previous_ammount %></td>
          <td><%= payment.payment_ammount %></td>
          <td><%= payment.left_ammount %></td>
          <td><%= payment.receiver.capitalize %></td>
          <td><%= payment.giver.capitalize %></td>
          <td><%= link_to '', edit_payment_path(payment, cust_id: payment.customer.id), class:"btn btn-xs btn-success glyphicon glyphicon-edit" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>