<table class="table table-bordered table-hover">
  <thead>
    <strong>Products Entry Details</strong>
    <tr>
      <th>📆 Date</th>
      <th>Operator</th>
      <th>Product name</th>
      <th>Payment_type</th>
      <th>Weight(kg.)</th>
      <th>Price(Rs.)</th>
    </tr>
  </thead>

  <tbody>
    <% aa = 0%>
    <% if @products.blank? %>
      <tr>
        <td colspan="7">Products are not available for this customer.</td>
      </tr>
    <% else %>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.created_at.strftime '%d/%B/%Y'%></td>
          <td><%= product.operator.first_name.capitalize%></td>
          <td><%= product.item.item_name %></td>
          <td><%= product.payment_type.capitalize %></td>
          <td><%= product.weight %> /kg</td>
          <td>Rs. <%= product.price %></td>
        </tr>
      <% end %>
    <th colspan="2">Total</th>
    <th colspan="2"><%= @products.count %></th>
    <th><%= @products.sum(:weight) %>/kg</th>
    <th>Rs. <%= @products.sum(:price) %></th>
    <% end %>
  </tbody>
</table>