<table class="table table-bordered table-hover">
  <thead>
    <strong>Products Entry Details</strong>
    <tr>
      <th>📆 Date</th>
      <th>Operator</th>
      <th>Product name</th>
      <th>Weight(kg.)</th>
      <th>Price(Rs.)</th>
      <th>Payment</th>
      <th>Left(Rs.)</th>
    </tr>
  </thead>

  <tbody>
    <% aa = 0%>
    <% if @products.blank? %>
      <tr>
        <td colspan="7">Products are not available for this customer.</td>
      </tr>
    <% else %>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.created_at.strftime '%d/%B/%Y'%></td>
          <td><%= product.operator.first_name.capitalize%></td>
          <td><%= product.item.item_name.capitalize %></td>
          <td><%= product.weight %> /kg</td>
          <td>Rs. <%= product.price %></td>
          <td><%= product.payment_type.capitalize %></td>
          <% left_amt = product.price - product.payment_type.to_f %>
          <%if left_amt < 0 %>
            <td style="color: green">Rs. <%= left_amt%></td>
          <%elsif left_amt > 0 %>
            <td style="color: red">Rs. <%= left_amt%></td>  
          <%else%>
            <td>Rs. <%= left_amt%></td>  
          <%end%>
        </tr>
      <% end %>
    <th colspan="2">Total</th>
    <th><%= @products.count %></th>
    <th><%= @products.sum(:weight) %>/kg</th>
    <th>Rs. <%= @products.sum(:price) %></th>
    <th>Rs. <%= @products.sum(:payment_type) %></th>
    <th>Rs. <%= @products.sum(:price) - @products.sum(:payment_type).to_f %></th>
    <% end %>
  </tbody>
</table>