<%= link_to 'Back', products_path(cust_id: @cust.id) %>

<h3><%= @cust.first_name + " " + @cust.middle_name + " " + @cust.last_name %></h3>

<table border="1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Operator</th>
      <th>Product name</th>
      <th>Price</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <%sum = 0%>
    <% @products.each do |product| %>
      <tr>
        <% sum = sum + product.weight%>
        <td><%= product.created_at %></td>
        <td><%= product.operator.first_name%></td>
        <td><%= product.product_name %></td>
        <td><%= product.price %></td>
        <td><%= product.weight %></td>
      </tr>
    <% end %>
    <th colspan="2">Total</th>
    <th><%= @products.count %></th>
    <th>Rs-<%= sum * 3 %></th>
    <th><%= sum %>/kg</th>
  </tbody>
</table>
<br>