<h4><%= @cust.last_name.capitalize.to_s + " " + @cust.first_name.capitalize.to_s %></h4>

<div class="row">
	<div class="col-sm-6"><%= render 'form' %></div>
	<div class="col-sm-6"><%= render 'payment_form' %></div>
</div>
<br>
<div class="row">
	<div class="col-sm-6"><%= render 'products' %></div>
	<div class="col-sm-6"><%= render 'payments' %></div>
</div>