<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @product.weight * 3 %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Customer:</strong>
</p>

<p>
  <strong>Operator:</strong>
  <%= @product.operator.first_name %>
</p>

<%= link_to "Back", home_index_path, class: "link_back" %>