<% customers = 0 %>

<table class="table table-bordered table-hover">
  <thead style="background-color: gold">
    <strong style="font-size: 15px">Total Reports</strong>
    <tr>
      <th>Operators</th>
      <th colspan="2">Customers</th>
      <th>Weight /Kg</th>
      <th>Receive.Rs</th>
      <th colspan="2">Cash</th>
      <th colspan="2">Borrow</th>
      <th>Payment.Rs</th>
      <th>B.Left.Rs</th>
      <th>Got.Rs</th>
      <th>Expense.Rs</th>
      <th>Now.Rs</th>
    </tr>
  </thead>

  <tbody style="background-color: white">
    <tr>
      <td><%= @operators.count %></td>
      <td><%= @customers.count %></td>
      <td><%= @customers.sum(:family_members) %></td>
      <td><%= @products.sum(:weight) %>/kg</td>
      <td>Rs. <%= @products.sum(:price) %></td>
      <td><%= @products.where(payment_type: 'cash').sum(:weight)%> /kg</td>
      <td>Rs.<%= @products.where(payment_type: 'cash').sum(:price)%></td>
      <td><%= @products.where(payment_type: 'borrow').sum(:weight)%> /kg</td>
      <td>Rs.<%= @products.where(payment_type: 'borrow').sum(:price)%></td>
      <td>Rs. <%= @payments.sum(:payment_ammount)%></td>
      <td>Rs. <%= @products.where(payment_type: 'borrow').sum(:price) - @payments.sum(:payment_ammount)%></td>
      <td>Rs. <%= @products.where(payment_type: 'cash').sum(:price) + @payments.sum(:payment_ammount)%></td>
      <td>Rs. <%= @expenses.sum(:expence) %></td>
      <td>Rs. <%= @products.sum(:price) - @expenses.sum(:expence)%></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead style="background-color: gold">
    <strong style="font-size: 15px">Products Report</strong><br>
    <tr>
      <th rowspan="2">Products</th>
      <th rowspan="2">Count</th>
      <th colspan="3">Cash Details</th>
      <th colspan="3">Borrow Details</th>
      <th rowspan="2">Weight</th>
      <th rowspan="2">Price</th>
      <%@operators.each do |operator|%>
        <th colspan="3"><%= operator.first_name.capitalize + " " + operator.last_name.capitalize %></th>
      <% end -%>
      </tr>
      <tr>
      <th>Count</th>
      <th>Weight</th>
      <th>Rs. </th>
      <th>Count</th>
      <th>Weight</th>
      <th>Rs. </th>
      <th>Count</th>
      <th>Weight</th>
      <th>Rs. </th>
      <th>Count</th>
      <th>Weight</th>
      <th>Rs. </th>
    </tr>

  </thead>
  <tbody style="background-color: white">
    <% array_uniq = 0, sum_times = 0, times = 0, sum_take_cash_count = 0, take_cash_count = 0, sum_take_cash_sum_weight = 0, take_cash_sum_weight = 0, sum_take_cash_sum_price = 0, take_cash_sum_price = 0, sum_take_borrow_count = 0, take_borrow_count = 0, sum_take_borrow_sum_weight = 0, take_borrow_sum_weight = 0, sum_take_borrow_sum_price = 0, take_borrow_sum_price = 0, sum_product_sum_weight = 0, product_sum_weight = 0, sum_product_sum_price = 0, product_sum_price = 0 %>

    <% array_uniq = Product.select(:product_name).distinct %>
    <% array_uniq.each do |product|%>
      <% times = @products.where(product_name: product.product_name).count%>
      <% take_cash_count = @products.where(product_name: product.product_name, payment_type: 'cash').count %>
      <% take_cash_sum_weight = @products.where(product_name: product.product_name, payment_type: 'cash').sum(:weight) %>
      <% take_cash_sum_price = @products.where(product_name: product.product_name, payment_type: 'cash').sum(:price) %>
      <% take_borrow_count = @products.where(product_name: product.product_name, payment_type: 'borrow').count %>
      <% take_borrow_sum_weight = @products.where(product_name: product.product_name, payment_type: 'borrow').sum(:weight) %>
      <% take_borrow_sum_price = @products.where(product_name: product.product_name, payment_type: 'borrow').sum(:price)%>
      <% product_sum_weight = @products.where(product_name: product.product_name).sum(:weight)%>
      <% product_sum_price = @products.where(product_name: product.product_name).sum(:price)%>
      <% sum_times = sum_times + times %>
      <% sum_take_cash_count = sum_take_cash_count + take_cash_count %>
      <% sum_take_cash_sum_weight = sum_take_cash_sum_weight + take_cash_sum_weight %>
      <% sum_take_cash_sum_price = sum_take_cash_sum_price + take_cash_sum_price %>
      <% sum_take_borrow_count = sum_take_borrow_count + take_borrow_count %>
      <% sum_take_borrow_sum_weight = sum_take_borrow_sum_weight + take_borrow_sum_weight %>
      <% sum_take_borrow_sum_price = sum_take_borrow_sum_price + take_borrow_sum_price %>
      <% sum_product_sum_weight = sum_product_sum_weight + product_sum_weight %>
      <% sum_product_sum_price = sum_product_sum_price + product_sum_price %>
      <tr>
        <td><%= product.product_name.capitalize %></td>
        <td><%= times %></td>
        <td>C- <%= take_cash_count %></td>
        <td><%= take_cash_sum_weight %>/kg</td>
        <td>Rs.<%= take_cash_sum_price %></td>
        <td>B- <%= take_borrow_count %></td>
        <td><%= take_borrow_sum_weight %>/kg</td>
        <td>Rs.<%= take_borrow_sum_price %></td>
        <td><%= product_sum_weight %>/kg</td>
        <td>Rs.<%= product_sum_price %></td>
        <%@operators.each do |operator|%>
          <td><%= operator.products.where(product_name: product.product_name).count%></td>
          <td><%= operator.products.where(product_name: product.product_name).sum(:weight)%> /kg</td>
          <td>Rs. <%= operator.products.where(product_name: product.product_name).sum(:price)%></td>
        <% end -%>
      </tr>
    <% end -%>
    <tr style="background-color: gold">
      <th><%= array_uniq.count %></th>
      <th><%= sum_times %></th>
      <th>Cash= <%= sum_take_cash_count %></th>
      <th><%= sum_take_cash_sum_weight %>/kg</th>
      <th>Rs.<%= sum_take_cash_sum_price %></th>
      <th>Borrow= <%= sum_take_borrow_count %></th>
      <th><%= sum_take_borrow_sum_weight %>/kg</th>
      <th>Rs.<%= sum_take_borrow_sum_price %></th>
      <th><%= sum_product_sum_weight %>/kg</th>
      <th>Rs.<%= sum_product_sum_price %></th>

      <%@operators.each do |operator|%>
        <th><%= operator.products.count%></th>
        <th><%= operator.products.sum(:weight)%> /kg</th>
        <th>Rs. <%= operator.products.sum(:price)%></th>
      <% end -%>
    </tr>
  </tbody>
</table>


<table class="table table-bordered table-hover">
  <thead style="background-color: gold">
    <strong style="font-size: 15px">Operators Report</strong>
    <tr>
      <th rowspan="2">Operators</th>
      <th rowspan="2">Weight /Kg</th>
      <th rowspan="2">Amount</th>
      <th rowspan="2">Times</th>
      <th colspan="3">Cash Details</th>
      <th colspan="3">Borrow Details</th>
      <% array_uniq = Product.select(:product_name).distinct %>
        <% array_uniq.each do |product|%>
        <th colspan="2"><%= product.product_name.capitalize %></th>
      <% end -%>
    </tr>
    <tr>
      <th>Count</th>
      <th>Kg</th>
      <th>Rs.</th>
      <th>Count</th>
      <th>Kg</th>
      <th>Rs.</th>
      <%array_uniq.each do ||%>
        <th>Cash</th>
        <th>Borrow</th>
      <% end -%>
    </tr>
  </thead>

  <tbody style="background-color: white">
    <% @operators.each do |operator|%>
      <tr>
        <td><%= operator.first_name.capitalize + " " + operator.last_name.capitalize%></td>
        <td><%= @products.where(operator_id: operator.id).sum(:weight)%>/kg</td>
        <td>Rs. <%= @products.where(operator_id: operator.id).sum(:price)%></td>
        <td><%= @products.where(operator_id: operator.id).count%></td>
        <td>C- <%= @products.where(operator_id: operator.id, payment_type: "cash").count%></td>
        <td><%= @products.where(operator_id: operator.id, payment_type: "cash").sum(:weight)%> /kg</td>
        <td>Rs. <%= @products.where(operator_id: operator.id, payment_type: "cash").sum(:price)%></td>
        <td>B- <%= @products.where(operator_id: operator.id, payment_type: "borrow").count%></td>
        <td><%= @products.where(operator_id: operator.id, payment_type: "borrow").sum(:weight)%> /kg</td>
        <td>Rs. <%= @products.where(operator_id: operator.id, payment_type: "borrow").sum(:price)%></td>
        <%array_uniq.each do |product|%>
          <td>C- <%= @products.where(product_name: product.product_name, operator_id: operator.id, payment_type: "cash").count%></td>
          <td>B- <%= @products.where(product_name: product.product_name, operator_id: operator.id, payment_type: "borrow").count%></td>
        <% end -%>
      </tr>
    <% end -%>
    <tr style="background-color: gold">
      <th><%= @operators.count %></th>
      <th><%= @products.sum(:weight)%>/kg</th>
      <th>Rs. <%= @products.sum(:price)%></th>
      <th><%= @products.count %></th>
      <th>C= <%= @products.where(payment_type: "cash").count%></th>
      <th><%= @products.where(payment_type: "cash").sum(:weight)%> /kg</th>
      <th>Rs. <%= @products.where(payment_type: "cash").sum(:price)%></th>
      <th>B= <%= @products.where(payment_type: "borrow").count%></th>
      <th><%= @products.where(payment_type: "borrow").sum(:weight)%> /kg</th>
      <th>Rs. <%= @products.where(payment_type: "borrow").sum(:price)%></th>
      <%array_uniq.each do |product|%>
        <th>C= <%= @products.where(product_name: product.product_name, payment_type: "cash").count%></th>
        <th>B= <%= @products.where(product_name: product.product_name, payment_type: "borrow").count%></th>
      <% end -%>
    </tr>
  </tbody>
</table>
