<% array_uniq = Product.select(:product_name).distinct %>
<% customers = 0 %>

<table class="table table-bordered table-hover">
  <thead style="background-color: gold">
    <strong style="font-size: 15px">Total Reports</strong>
    <tr>
      <th>Operators</th>
      <th>Customers</th>
      <th>F.M</th>
      <th>Weight /Kg</th>
      <th>Receive.Rs</th>
      <th>Payment.Rs</th>
      <th>B.Left.Rs</th>
      <th>Got.Rs</th>
      <th>Expense.Rs</th>
      <th>Now.Rs</th>
    </tr>
  </thead>
  <tbody style="background-color: white">
    <tr>
      <td><%= @operators.count %></td>
      <td><%= @customers.count %></td>
      <td><%= @customers.sum(:family_members) %></td>
      <td><%= @products.sum(:weight) %>/kg</td>
      <td>Rs. <%= @products.sum(:price) %></td>
      <td>Rs. <%= @payments.sum(:payment_ammount)%></td>
      <td>Rs. <%= @products.where(payment_type: 'borrow').sum(:price) - @payments.sum(:payment_ammount)%></td>
      <td>Rs. <%= @products.where(payment_type: 'cash').sum(:price) + @payments.sum(:payment_ammount)%></td>
      <td>Rs. <%= @expenses.sum(:expence) %></td>
      <td>Rs. <%= @products.sum(:price) - @expenses.sum(:expence)%></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead style="background-color: gold">
    <strong style="font-size: 15px">Products Report</strong><br>
    <tr>
      <th>No</th>
      <th>Products</th>
      <th>Count</th>
      <th>Weight</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody style="background-color: white">
    <% if @products.blank? %>
      <tr>
        <td colspan="7">No record available this date.</td>
      </tr>
    <% else %>
      <% no = 1%>
      <% Item.all.each do |item| %>
        <tr>
          <td><%= no%></td>
          <td><%= item.item_name.capitalize%></td>
          <td><%= Product.where(product_name: item.id).count%></td>
          <td><%= Product.where(product_name: item.id).sum(:weight)%> /kg</td>
          <td>Rs. <%= Product.where(product_name: item.id).sum(:price)%></td>
        </tr>
        <%no+=1%>
      <%end%>
      <tr style="background-color: gold">
        <th colspan="2">Total product's <%=no-1%></th>
        <th><%=  @products.count %></th>
        <th><%= @products.sum(:weight) %> /kg</th>
        <th>Rs. <%= @products.sum(:price) %></th>
      </tr>
    <%end%>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead style="background-color: gold">
    <strong style="font-size: 15px">Operators Report</strong>
    <tr>
      <th>Operators</th>
      <th>Times</th>
      <th>Weight /Kg</th>
      <th>Amount</th>
      <% @items.each do |item|%>
        <th colspan="3"><%= item.item_name.capitalize %></th>
      <%end%>
    </tr>
  </thead>
  <tbody style="background-color: white">
    <% @operators.each do |operator|%>
      <tr>
        <td><%= operator.first_name.capitalize + " " + operator.last_name.capitalize%></td>
        <td><%= @products.where(operator_id: operator.id).count%></td>
        <td><%= @products.where(operator_id: operator.id).sum(:weight)%>/kg</td>
        <td>Rs. <%= @products.where(operator_id: operator.id).sum(:price)%></td>
        <% Item.all.each do |item| %>
          <td><%= @products.where(product_name: item.id, operator_id: operator.id).count%></td>
          <td><%= @products.where(product_name: item.id, operator_id: operator.id).sum(:weight)%> /kg</td>
          <td>Rs. <%= Product.where(product_name: item.id, operator_id: operator.id).sum(:price)%></td>
        <%end%>
      </tr>
    <%end%>
    <tr style="background-color: gold">
      <th><%= @operators.count %></th>
      <th><%= @products.count %></th>
      <th><%= @products.sum(:weight)%>/kg</th>
      <th>Rs. <%= @products.sum(:price)%></th>
      <% Item.all.each do |item| %>
        <th><%= @products.where(product_name: item.id).count%></th>
        <th><%= @products.where(product_name: item.id).sum(:weight)%> /kg</th>
        <th>Rs. <%= @products.where(product_name: item.id).sum(:price)%></th>
      <%end%>
    </tr>
  </tbody>
</table>
