<% customers = 0 %>

<table class="table table-bordered table-hover">
  <thead>
    <strong style="font-size: 15px">Report Table of Total</strong>
    <tr>
      <th>Operator</th>
      <th colspan="2">Customer</th>
      <th>Weight /Kg</th>
      <th>Receive.Rs</th>
      <th colspan="2">Take.Rs</th>
      <th>Payment.Rs</th>
      <th>Left.Rs</th>
      <th>Got.Rs</th>
      <th>Expense.Rs</th>
      <th>Now.Rs</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @operators.count %></td>
      <td><%= @customers.count %></td>
      <td><%= @customers.sum(:family_members) %></td>
      <td><%= @products.sum(:weight) %></td>
      <td><%= @products.sum(:price) %></td>
      <td>C= <%= @products.where(payment_type: 'cash').sum(:price)%></td>
      <td>B= <%= @products.where(payment_type: 'borrow').sum(:price)%></td>
      <td><%= @payments.sum(:payment_ammount)%></td>
      <td><%= @products.where(payment_type: 'borrow').sum(:price) - @payments.sum(:payment_ammount)%></td>
      <td><%= @products.where(payment_type: 'cash').sum(:price) + @payments.sum(:payment_ammount)%></td>
      <td><%= @expenses.sum(:expence) %></td>
      <td><%= @products.sum(:price) - @expenses.sum(:expence)%></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead>
    <strong style="font-size: 15px">Report Product Details</strong>
    <tr>
      <th>Product</th>
      <th>Times</th>
      <th colspan="4">Take</th>
      <th>Weight</th>
      <th>Amount</th>
      <th colspan="4">times cust</th>
    </tr>
  </thead>

  <tbody>
    <% array_uniq = 0 %>
    <% array_uniq = Product.select(:product_name).distinct %>
    <% array_uniq.each do |product|%>
    <tr>
      <td><%= product.product_name.capitalize%></td>
      <td><%= @products.where(product_name: product.product_name).count%></td>
      <td>Cash- <%= @products.where(product_name: product.product_name, payment_type: 'cash').count %></td>
      <td>Rs. <%= @products.where(product_name: product.product_name, payment_type: 'cash').sum(:price) %></td>
      <td>Borrow- <%= @products.where(product_name: product.product_name, payment_type: 'borrow').count %></td>
      <td>Rs.- <%= @products.where(product_name: product.product_name, payment_type: 'borrow').sum(:price)%></td>
      <td><%= @products.where(product_name: product.product_name).count%></td>
      <td><%= @products.where(product_name: product.product_name).sum(:price)%></td>
      <% array_top = [] %>
      <%@customers.each do |customer|%>
        <% array_top.push(@products.where(product_name: product.product_name, customer_id: customer.id).sum(:weight)) %>
      <% end -%>
      <td><%= array_top.max%>.kg</td>
      <td><%= link_to "id" %></td>
      <td><%= array_top.min%>.kg</td>
      <td><%= link_to "id" %></td>
    </tr>
    <% end -%>
  </tbody>
</table>