<% customers = 0 %>

<table class="table table-bordered table-hover">
  <thead>
    <strong style="font-size: 15px">Report Table of Total</strong>
    <tr>
      <th>Operator</th>
      <th colspan="2">Customer</th>
      <th>Weight /Kg</th>
      <th>Receive.Rs</th>
      <th colspan="2">Take.Rs</th>
      <th>Payment.Rs</th>
      <th>Now.Rs</th>
      <th>Left.Rs</th>
      <th>Expense.Rs</th>
      <th>Last.Rs</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @operators.count %></td>
      <td><%= @customers.count %></td>
      <td><%= @customers.sum(:family_members) %></td>
      <td><%= @products.sum(:weight) %></td>
      <td><%= @products.sum(:price) %></td>
      <td>C= <%= @products.where(payment_type: 'cash').sum(:price)%></td>
      <td>B= <%= @products.where(payment_type: 'borrow').sum(:price)%></td>
      <td><%= @payments.sum(:payment_ammount)%></td>
      <td><%= @products.where(payment_type: 'cash').sum(:price) + @payments.sum(:payment_ammount)%></td>
      <td><%= @products.where(payment_type: 'borrow').sum(:price) - @payments.sum(:payment_ammount)%></td>
      <td><%= @expenses.sum(:expence) %></td>
      <td><%= @expenses.sum(:expence) - @products.sum(:price)%></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead>
    <strong style="font-size: 15px">Report Product Details</strong>
    <tr>
      <th>Product</th>
      <th>Times</th>
      <th colspan="4">Take</th>
      <th>Weight</th>
      <th>Amount</th>
      <th colspan="2">times cust</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Bajari</td>
      <td><%= @products.where(product_name: 'bajari').count %></td>
      <td>Cash- <%= @products.where(product_name: 'bajari', payment_type: 'cash').count %></td>
      <td>Rs. <%= @products.where(product_name: 'bajari', payment_type: 'cash').sum(:price) %></td>
      <td>Borrow- <%= @products.where(product_name: 'bajari', payment_type: 'borrow').count %></td>
      <td>Rs.- <%= @products.where(product_name: 'bajari', payment_type: 'borrow').sum(:price)%></td>
      <td><%= @products.where(product_name: 'bajari').sum(:weight) %> /kg</td>
      <td>Rs. <%= @products.where(product_name: 'bajari').sum(:price) %></td>
      <% array_top = [] %>
      <%@customers.each do |customer|%>
        <%customers = @products.where(product_name: 'bajari', customer_id: customer.id).sum(:weight)%>
        <% array_top.push(customers) %>
      <% end -%>
      <td><%= array_top.max%>.kg</td>
      <td><%= array_top.min%>.kg</td>
      <td><%= array_top%>.kg</td>
    </tr>
    <tr>
      <td>Wheat</td>
      <td><%= @products.where(product_name: 'wheat').count %></td>
      <td>Cash- <%= @products.where(product_name: 'wheat', payment_type: 'cash').count %></td>
      <td>Rs. <%= @products.where(product_name: 'wheat', payment_type: 'cash').sum(:price) %></td>
      <td>Borrow- <%= @products.where(product_name: 'wheat', payment_type: 'borrow').count %></td>
      <td>Rs.- <%= @products.where(product_name: 'wheat', payment_type: 'borrow').sum(:price)%></td>
      <td><%= @products.where(product_name: 'wheat').sum(:weight) %> /kg</td>
      <td>Rs. <%= @products.where(product_name: 'wheat').sum(:price) %></td>
      <% array_top = [] %>
      <%@customers.each do |customer|%>
        <%customers = @products.where(product_name: 'wheat', customer_id: customer.id).sum(:weight)%>
        <% array_top.push(customers) %>
      <% end -%>
      <td><%= array_top.max%>.kg</td>
      <td><%= array_top.min%>.kg</td>
      <td><%= array_top%>.kg</td>
    </tr>
    <tr>
      <td>Fad</td>
      <td><%= @products.where(product_name: 'fad').count %></td>
      <td>Cash- <%= @products.where(product_name: 'fad', payment_type: 'cash').count %></td>
      <td>Rs. <%= @products.where(product_name: 'fad', payment_type: 'cash').sum(:price) %></td>
      <td>Borrow- <%= @products.where(product_name: 'fad', payment_type: 'borrow').count %></td>
      <td>Rs.- <%= @products.where(product_name: 'fad', payment_type: 'borrow').sum(:price)%></td>
      <td><%= @products.where(product_name: 'fad').sum(:weight) %> /kg</td>
      <td>Rs. <%= @products.where(product_name: 'fad').sum(:price) %></td>
      <% array_top = [] %>
      <%@customers.each do |customer|%>
        <%customers = @products.where(product_name: 'fad', customer_id: customer.id).sum(:weight)%>
        <% array_top.push(customers) %>
      <% end -%>
      <td><%= array_top.max%>.kg</td>
      <td><%= array_top.min%>.kg</td>
      <td><%= array_top%>.kg</td>
    </tr>
    <tr>
      <td>Pulse</td>
      <td><%= @products.where(product_name: 'pulse').count %></td>
      <td>Cash- <%= @products.where(product_name: 'pulse', payment_type: 'cash').count %></td>
      <td>Rs. <%= @products.where(product_name: 'pulse', payment_type: 'cash').sum(:price) %></td>
      <td>Borrow- <%= @products.where(product_name: 'pulse', payment_type: 'borrow').count %></td>
      <td>Rs.- <%= @products.where(product_name: 'pulse', payment_type: 'borrow').sum(:price)%></td>
      <td><%= @products.where(product_name: 'pulse').sum(:weight) %> /kg</td>
      <td>Rs. <%= @products.where(product_name: 'pulse').sum(:price) %></td>
      <% array_top = [] %>
      <%@customers.each do |customer|%>
        <%customers = @products.where(product_name: 'pulse', customer_id: customer.id).sum(:weight)%>
        <% array_top.push(customers) %>
      <% end -%>
      <td><%= array_top.max%>.kg</td>
      <td><%= array_top.min%>.kg</td>
      <td><%= array_top%>.kg</td>
    </tr>
    <tr>
      <td>Other</td>
      <td><%= @products.where(product_name: 'other').count %></td>
      <td>Cash- <%= @products.where(product_name: 'other', payment_type: 'cash').count %></td>
      <td>Rs. <%= @products.where(product_name: 'other', payment_type: 'cash').sum(:price) %></td>
      <td>Borrow- <%= @products.where(product_name: 'other', payment_type: 'borrow').count %></td>
      <td>Rs.- <%= @products.where(product_name: 'other', payment_type: 'borrow').sum(:price)%></td>
      <td><%= @products.where(product_name: 'other').sum(:weight) %> /kg</td>
      <td>Rs. <%= @products.where(product_name: 'other').sum(:price) %></td>
      <% array_top = [] %>
      <%@customers.each do |customer|%>
        <%customers = @products.where(product_name: 'other', customer_id: customer.id).sum(:weight)%>
        <% array_top.push(customers) %>
      <% end -%>
      <td><%= array_top.max%>.kg</td>
      <td><%= array_top.min%>.kg</td>
      <td><%= array_top%>.kg</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead>
    <strong style="font-size: 15px">Report Customer Details</strong>
    <tr>
      <th>Customer</th>
      <th>Weight /Kg</th>
      <th>Total.Rs</th>
      <th>Times</th>
      <th>customer</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @customers.count %></td>
      <td><%= @products.where(customer_id:1).sum(:weight) %></td>
      <td><%= @products.where(customer_id:1).sum(:price) %></td>
      <td><%= @customers.count %></td>
      <td><%= @customers.sum(:family_members) %></td>
    </tr>
  </tbody>
</table>