<!DOCTYPE html>
<html>
  <head>
    <title>Floor Mill</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= render "layouts/navbar" %>
    <% end %>
    <div class="col-sm-12">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Danger!</strong>
          <%= flash[:alert] %>
        </div>
      <% elsif false %>
        <div class="alert alert-info alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
        </div>
        <div class="alert alert-warning alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
        </div>
      <%end%>

      <%= yield %>
      <% if user_signed_in? %>
        <div style="background: grey" class="footer navbar-fixed-bottom ">
          <footer class="container-fluid fixed-bottom">
            <p style="color: white" class="m-0 text-center text-white">Copyright &copy;
              <a style="color: lightblue" href=""> Vishawakrma Flour Mill </a>
              <a class="item" href="https://www.youtube.com/watch?v=115n8v9N-ro"><%= image_tag("youtube1.jpg", width: '60px') %></a>
              <a class="item" href="https://plus.google.com/105924259559603220820"><%= image_tag("google.png", width: '30px') %></a>
              <a class="item" href="https://www.facebook.com/achyut.kadam.946/photos_all?lst=100005548129116%3A100005548129116%3A1527692465"><%= image_tag("facebook.png", width: '30px') %></a>
              <a class="item" href="https://www.linkedin.com/in/achyut-kadam-445baa149/"><%= image_tag("linkedin.png", width: '30px') %></a>
              <a class="item" href="https://twitter.com/theachyutkadam"><%= image_tag("twitter.png", width: '30px') %></a>
              <a class="item" href="https://github.com/achyut-kadam"><%= image_tag("git.png", width: '30px') %></a>
            </p>
          </footer>
        </div>
      <% end %>
    </div>
  </body>
</html>