<!DOCTYPE html>

<html>

  <head>
    <title>Floor Mill</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </body>

</html>
