<!DOCTYPE html>
<html>
  <head>
    <title>Vishwakarma</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'rails_validations', 'data-turbolinks-track' => true%>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= render "layouts/navbar" %>
    <% end %>
    <div class="col-sm-12">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= flash[:alert] %>
        </div>
      <% elsif false %>
        <div class="alert alert-info alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        <div class="alert alert-warning alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <%end%>

      <%= yield %>
      <% if user_signed_in? %>
        <div class="col-sm-12">
          <div style="background: slategrey" class="footer navbar-fixed-bottom ">
            <footer class="container-fluid">
              <p style="color: white" class="m-0 text-center text-white">Copyright &copy;
                <a style="color: lightblue" href="https://www.google.com/maps/place/Vishwakarma+Flour+Mill/@19.636981,74.1430224,208m/data=!3m1!1e3!4m13!1m7!3m6!1s0x3bddaa1453aa810f:0xe5b785d318b478af!2sSaikhindi,+Maharashtra+422605!3b1!8m2!3d19.6365709!4d74.1441817!3m4!1s0x3bddab8b4c6d619f:0x399530762ff93a90!8m2!3d19.6368588!4d74.1433255"> Vishawakrma Flour Mill </a>
                <a class="item" href="https://www.youtube.com/watch?v=115n8v9N-ro"><%= image_tag("youtube1.jpg", width: '60px') %></a>
                <a class="item" href="https://plus.google.com/105924259559603220820"><%= image_tag("google.png", width: '30px') %></a>
                <a class="item" href="https://www.facebook.com/achyut.kadam.946/photos_all?lst=100005548129116%3A100005548129116%3A1527692465"><%= image_tag("facebook.png", width: '30px') %></a>
                <a class="item" href="https://www.linkedin.com/in/achyut-kadam-445baa149/"><%= image_tag("linkedin.png", width: '30px') %></a>
                <a class="item" href="https://twitter.com/theachyutkadam"><%= image_tag("twitter.png", width: '30px') %></a>
                <a class="item" href="https://github.com/theachyutkadam"><%= image_tag("git.png", width: '30px') %></a>
              </p>
            </footer>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>